---
import bnrLogo from "@/assets/bnr-logo.png";
import ifflLogo from "@/assets/iff-logo.png";
import bg from "@/assets/skyline.webp";
import { Image, getImage } from "astro:assets";
const optimizedBg = await getImage({ src: bg, format: "avif", quality: "mid" });
---

<section
  id="hero"
  style={`background-image: url(${optimizedBg.src})`}
  class="bg-cover bg-[42%] min-h-screen w-full relative after:absolute after:bg-black/40 after:w-full after:h-full"
>
  <div
    class="grid p-2 w-full h-full z-10 [&>*]:[grid-area:1/1] absolute text-center text-white"
  >
    <h1
      class="text-2xl sm:text-4xl md:text-7xl/[1.2] font-bold relative z-10 [text-wrap:balance;] place-self-center"
    >
      Building Trust<br />With Quality Work
    </h1>
    <div class="justify-self-center self-end">
      <h2 class="hidden md:block md:text-xl font-bold mb-4">
        A Joint-Venture Between BNR Global and IFF
      </h2>
      <div class="flex justify-center gap-4 items-center">
        <Image src={bnrLogo}  alt="BNR Global logo" class="h-16 w-fit object-contain invert"/>
        <a href="http://www.iff.org.cn/" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Go to IFF website</span>
          <Image src={ifflLogo}  alt="IFF logo" class="h-16 w-fit object-contain"/>
        </a>
      </div>
    </div>
  </div>
</section>
