---
import { Image } from "astro:assets";
import bnrLogo from "@/assets/bnr-logo.png";
import ifflLogo from "@/assets/iff-logo.png";

---

<section id="introduction" class="py-16 bg-emerald-100 px-4">

  <div class="mx-auto max-w-screen-lg">
    <div class="text-center mb-8">
    <p>Global Green Finance Center</p>
    <h2 class="font-bold text-3xl">A Successful Joint-Venture</h2>
    </div>
    <div class="flex justify-center gap-4 flex-wrap ">
      <div class="bg-white border-t-4 border-brand flex-1 space-y-4 p-8 shadow-lg">
        <Image src={ifflLogo} alt="IFF logo" class="h-32 object-contain invert mx-auto"/>
        <h3 class="text-brand text-center font-bold text-2xl"><dfn>IFF</dfn> – International Finance Forum</h3>
        <p>The International Finance Forum (IFF) is a non-profit, non-governmental organization that was founded in October 2003. It consists of financial leaders from over 20 countries and regions, including China, the United States, the European Union, emerging countries, and international organizations like the United Nations, the World Bank, and the International Monetary Fund (IMF). It serves as a prominent platform for high-level dialogue, communication, and multilateral cooperation in the field of finance.</p>
        <a href="http://www.iff.org.cn/php/list.php?tid=537" target="_blank" rel="noopener noreferrer" class="block text-center text-lg uppercase tracking-wide text-brand hover:underline">Learn More</a>
      </div>
      <div class="bg-white border-t-4 border-brand flex-1 space-y-4 p-8 shadow-lg">
        <Image src={bnrLogo} alt="BNR Global logo" class="h-32 object-contain mx-auto" />
        <h3 class="text-brand text-center font-bold text-2xl">BNR Global</h3>
        <p>BNR Global, a subsidiary of GG56, is dedicated to utilizing cutting-edge green technologies to foster a more sustainable world. With a strong emphasis on environmental awareness and social accountability, BNR Global strives to establish a balanced and collaborative living and business environment in China's Nansha District. This is achieved through the integration of eco-friendly solutions into residential, commercial, and business infrastructures.</p>
        <!-- <a href="/" target="_blank" class="block  text-center text-lg uppercase tracking-wide text-brand hover:underline">Learn More</a> -->
      </div>
    </div>
  </div>
</section>