---
const services = [
  ['Collaboration with IFF', 'Collaboration directly with the IFF - The International Finance Forum.'],
  ['Area Mix', 'Combination of residential, business, and commercial facilities.'],
  ['Nansha District', 'Located in the new special economic and political administration zone Nansha District, China.'],
  [
    'Green Technology',
    'Incorporate innovative green technologies to minimize environmental impact and promote sustainable practices.',
  ],
];
---

<section id='services' class='p-8 max-w-screen-xl mx-auto my-16'>
  <h2 class='text-center text-4xl mb-16 font-bold'>Our Project</h2>
  <ul class='grid sm:grid-cols-2 gap-8 text-center'>
    {
      services.map(([h3, p]) => (
        <li>
          <h3 class='font-bold text-xl mb-2 text-brand'>{h3}</h3>
          <p class='text-slate-500 text-lg [text-wrap:balance;]'>{p}</p>
        </li>
      ))
    }
  </ul>
</section>
