---
const stats = [
  ['1980%', 'FAR'],
  [118, 'Floors'],
  [3367, 'Parking Spots'],
  ['23,316m<sup>2</sup>', 'Site Area'],
];
---

<section id='stats' class='my-16 bg-brand text-white'>
  <div class='max-w-screen-2xl mx-auto px-8 py-16 flex justify-center flex-wrap gap-8'>
    {
      stats.map(([num, stat]) => (
        <dl class=' items-center grow shrink-0 text-center flex flex-col-reverse'>
          <dt class='font-medium lg:text-2xl text-gray-100'>{stat}</dt>
          <dd class='font-bold text-3xl lg:text-6xl lg:mb-4' set:html={num} />
        </dl>
      ))
    }
  </div>
</section>
